
@font-face {
    font-family: IRANSans;
    src: url(../fonts/IRANSans-web.woff)
}

@font-face {
    font-family: Vazir;
    src: url(../fonts/Vazir/Vazir.woff) format(woff),
         url(../fonts/Vazir/Vazir.woff2) format(woff2);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Vazir;
    src: url(../fonts/Vazir/Vazir-Bold.woff) format(woff),
         url(../fonts/Vazir/Vazir-Bold.woff2) format(woff2);
    font-weight: bold;
    font-style: normal;
}


* {
    font-family: Vazir, IRANSans;
}

body {
    padding-top: 100px;
}

.navbar {
    min-height: 70px;
    padding-top: 4px;
    padding-bottom: 4px;
}
.navbar-brand {
    margin: 0;
    padding: 0;
}
#logo {
    height: 100px;
    width: 100px;
}

.navbar-toggler-icon {
    background-image: url("../icons/menu-white.svg");
}
.navbar-toggler {
    border-width: 2px;
}

.dropdown > a {
    white-space: normal;
    word-wrap: break-word;
}
.dropdown-menu {
    background-color: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(5px);
}
.dropdown-hover .dropdown-hover-menu {
    display: block;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    position: absolute;
}
.dropdown-hover:hover .dropdown-hover-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
.dropdown-item:hover {
    background-color: rgba(0, 0, 0, 0.1);
}



#formInput {
    height: 35px;
    max-width: 150px;
    min-width: 50px;
}
#searchBtn {
    height: 35px;
    width: 35px;
    padding-right: 4px;
    padding-top: 5px;
}
#searchIcon {
    height: 24px;
    width: 24px;
}


#loginRegisterLinks a {
    font-size: 14px;
    height: 35px;
    min-width: 50px;
    padding: 0;
}


.account-dropdown {
    min-width: 120px;
    max-width: 140px;
    position: absolute !important;
}
.dropdown-avatar {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}




.page-path > a {
    text-decoration: none;
}





.useful-links {
    font-size: 12px;
}

.footer-icon {
    width: 40px;
    height: 40px;
    margin: 4px;
}



@media (max-width: 991px) {

    html {
        font-size: 14px;
    }

    .navbar {
        border-bottom: solid gray 1px;
    }
    .navbar-collapse > div {
        flex-direction: column;
        padding-top: 20px;
        padding-right: 20px;
    }
    .navbar-collapse.collapsing {
        max-height: 359px;
        transition: height 0.5s ease;
    }
    .navbar-nav > .nav-item {
        max-width: 200px;
    }

    #formInput, #searchBtn {
        margin-top: 20px;
        margin-bottom: 25px;
    }

    #loginRegisterLinks {
        margin-bottom: 14px;
    }
}



@media (min-width: 992px) {
    .dropdown > a {
        text-align: center;
    }
}
